.card_message{
  width: 600px;
  height: auto;
  margin: 20px;
}
.example-spacer {
  flex: 1 1 auto;
}
.card_ajoutMembre {
  width: 600px;
  height: auto;
  margin: 20px;
}
.position {
  position: relative;
  top: 7px;
}
.color {
  color: #512DA8;
}
