<mat-grid-list cols="2">
  <mat-grid-tile colspan="1" >
    <mat-card class="card_message">
      <mat-card-header>
        <h2 style="color: #512DA8">Administrateur</h2>
        <span class="example-spacer"></span>
        <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu"> <i class="material-icons">menu</i></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="retourHomeClick()">
            <i class="material-icons position color">home</i>
            <span class="menuItem color">|&nbsp;&nbsp;&nbsp;&nbsp;Home</span>
          </button>
          <button mat-menu-item (click)="ajouterMembreClick()">
            <i class="material-icons position color">person_add</i>
            <span class="menuItem color">|&nbsp;&nbsp;&nbsp;&nbsp;Ajouter un membre</span>
            </button>
          <button mat-menu-item (click)="gestionRoleClick()">
            <i class="material-icons position color">group_work</i>
            <span class="menuItem color">|&nbsp;&nbsp;&nbsp;&nbsp;Gestion des rôles</span>
            </button>
        </mat-menu>
      </mat-card-header>

      <mat-card-content>
        <app-liste [etat]="etat" (edit) = "adminEditMemb($event)"></app-liste>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" >
    <mat-card class="card_message" *ngIf="etatEdit === 'overviewEdit'">
      <mat-card-header>
        <h2>Edition</h2>
        <span class="example-spacer"></span>
        <button mat-mini-fab color=null (click)="closeClick()" style="float: right; z-index: 1;"><i style="color: #673AB7" class="material-icons">clear</i></button>
      </mat-card-header>

      <mat-card-content>
        <app-enr-personnels  [courielAdmin]="courriel" [etat]="etatEdit"  style="z-index: -1;"></app-enr-personnels>
      </mat-card-content>
    </mat-card>
    <mat-card class="card_ajoutMembre" *ngIf="etatEdit === 'ajouterMembre'">
      <mat-card-header>
        <h2>Edition</h2>
        <span class="example-spacer"></span>
        <button mat-mini-fab color=null (click)="closeClick()" style="float: right; z-index: 1;"><i style="color: #673AB7" class="material-icons">clear</i></button>
      </mat-card-header>
      <mat-card-content>
        <app-enr-personnels (closeWindows)="closeWindows($event)" [courielAdmin]="courriel" [etat]="etatEdit"  style="z-index: -1;"></app-enr-personnels>
      </mat-card-content>
    </mat-card>
    <mat-card class="card_ajoutMembre" *ngIf="etatEdit === 'role'">
      <mat-card-header>
        <h2>Rôle</h2>
        <span class="example-spacer"></span>
        <button mat-mini-fab color=null (click)="closeClick()" style="float: right; z-index: 1;"><i style="color: #673AB7" class="material-icons">clear</i></button>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-selection-list #roles>
            <mat-list-option *ngFor="let role of tabRolePerso ; let idx = index"
                             selected = "true"
                             (click)="roleOption(idx)"
            >
              {{role}}
            </mat-list-option>
          </mat-selection-list>
        </mat-list>
        <mat-form-field style="width: 92%; margin-left: 30px ">
          <mat-select placeholder="Choisir un rôle" [(ngModel)]="selectedValueRole" name="role">
            <mat-option *ngFor="let role of listeRolePasInscrit" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button
                style="margin-left: 43%; margin-bottom: 20px"
                color="primary"
                type="submit"
                class="btn-success" (click)="saveRoleClick()" >Sauver</button>
      </mat-card-footer>
    </mat-card>
    <mat-card class="card_ajoutMembre" *ngIf="etatEdit === 'gestionRole'">
      <mat-card-header>
        <h2>Gestion des Rôles</h2>
        <span class="example-spacer"></span>
        <button mat-mini-fab color=null (click)="closeClick()" style="float: right; z-index: 1;"><i style="color: #673AB7" class="material-icons">clear</i></button>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-selection-list #roles>
            <mat-list-option *ngFor="let role of listeRoleOrg ; let idx = index"
                             selected = "true"
                             (click)="roleOption(idx)"
            >
              {{role}}
            </mat-list-option>
          </mat-selection-list>
        </mat-list>
        <mat-form-field style="width: 92%; margin-left: 30px ">
          <input matInput placeholder="Inscriver un nouveau rôle" #role value="">
        </mat-form-field>
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button
                style="margin-left: 43%; margin-bottom: 20px"
                color="primary"
                type="submit"
                class="btn-success" (click)=" saveRoleOrgClick(role.value)" >Sauver</button>
      </mat-card-footer>
    </mat-card>
    <mat-card class="card_ajoutMembre" *ngIf="etatEdit === 'message'">
      <mat-card-header>
        <h2>Message</h2>
        <span class="example-spacer"></span>
        <button mat-mini-fab color=null (click)="closeClick()" style="float: right; z-index: 1;"><i style="color: #673AB7" class="material-icons">clear</i></button>
      </mat-card-header>
      <mat-card-content>
        <mat-list>

          <mat-list-item *ngFor="let note of listeNote ; let idx = index"
                         selected = "true"
                         (click)="roleOption(idx)"
          >
            <p style="margin-right: 10px">{{note['date']}}</p> <p>{{note['texte']}}</p><p><i style="color: #673AB7; font-size: small; position: absolute; right: 16px; bottom: 20px" class="material-icons" (click)="removeClick(idx)">clear</i></p>
          </mat-list-item>

        </mat-list>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Inscriver une nouvelle note" #note [value]="inputValue">
        </mat-form-field>
      </mat-card-content>
      <mat-card-footer>
        <button mat-raised-button
                style="margin-left: 43%; margin-bottom: 20px"
                color="primary"
                type="submit"
                class="btn-success" (click)=" addNoteClick(note.value); note.value=''" >Sauver</button>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>




