
app-administrateur{
  height: auto;
}


.example-container {
  display: flex;
  flex-direction: column;
}

.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {

}
.content-info-perso{
  font-size: medium ;
  text-align: left;
}


.infoPersoCard {

  height: 900px;
  display: none;

}


.example-spacer {
  flex: 1 1 auto;
}
.example-tooltip-host {
  display: inline-flex;
  align-items: center;
  color: #673AB7;
  font-size: medium ;

}
.grandPic{
  margin-left: 10px;
  height: 300px;
  width: 500px;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
}




.barlistMembre{
  height: 100%;
  width: 50px;
  background-color: #673AB7;
  order:5;
}

.barInf{
  height: 100%;
  width: 50px;
  background-color: #673AB7;
  order:1;
}

.listeInfo{
  order:2;
}
.barRole{
  height: 100%;
  width: 50px;
  background-color: #512DA8;
  order:3;

}
.barCalendar{
  height: 100%;
  width: 50px;
  background-color: #512DA8;
  order:7;
}

.icon {
transform: translate(25px,5px);
}

.roleOrganisation{
order:4;
}
.listMembre{
  order:6;

}
.calendar{
  order:8;
  flex:1 100%;
}


.burger{
  -ms-transform: translate(5px, 5px); /* IE 9 */
  -webkit-transform: translate(5px, 5px); /* Safari */
  transform: translate(8px, -8px);
}

.container {
  background-color: #83b748;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.position {
  position: relative;
  top: 7px;
}
.menuItem {
  color: #512DA8;
}
.timer {
  position: fixed;
  right: 0px;
  bottom: 0px;
}
